@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 6px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #D61C4E;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoohting: grayscale;
    overflow: hidden;
}

.panel {
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 300px;
    top: 50px;
    left: 50px;
    background: #F77E21;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.panel.show-menu {
    -webkit-transform: translate3d(150px, 0, 0);    
}

.panel .header {
    height: 60px;
    width: 100px;
    background: #FAC213;
}

.panel .header .menu-icon {
    position: absolute;
    width: 29px;
    height: 15px;
    top: 23px;
    left: 20px;
    cursor: pointer;
}

.panel .header .menu-icon:hover .dash-top, .panel .header .menu-icon:hover .dash-bottom, .panel .header .menu-icon:hover .dash-bottom, .panel .header .menu-icon:hover .circle {
    background: #fff;
}

.panel .header .menu-icon .dash-top, .panel .header .menu-icon .dash-bottom {
    position: absolute;
    width: 20px;
    height: 3px;
    top: 0;
    left: 0;
    background: #FEF9A7;
    border-radius: 6px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.panel .header .menu-icon .dash-bottom {
    width: 29px;
    top: auto;
    bottom: 0;
}

.panel .header .menu-icon .circle {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 4px;
    top: -2px;
    right: 0;
    background: #D61C4E;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.panel .header .title {
    display: block;
    text-align: center;
    line-height: 60px;
    color: #FEF9A7;
    font-weight: 600;
    font-size: 15px;
}

.panel .header .search-input {
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    right: 55px;
    width: 230px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background: #fff;
    padding: 0 17px;
    font-size: 13px;
    color: gray;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 0;
    pointer-events: none;
}

.panel .header .search-input:focus {
    outline: none;
}

.panel .header .search-input.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    pointer-events: all;
}